<h1>Add a contact</h1>

<p>Add a contact here:</p>

<form action="/contacts" method="post">
  <label for="name">Contact name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Contact</button>
</form>
