<h1>Add a Task to $category.getName()</h1>

<form action="/phones" method="post">
  <input id="contactId" name="contactId" type="hidden" value="$contact.getId()">

  <div class="form-group">
    <label for="description">Add</label>
    <input id="description" name="description" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Task</button>
</form>
